body{
    background-color: rgb(42, 45, 72);
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}
.krd{
    width: 500px;
    height: 1200px;
    border: 1px solid rrgb(155, 62, 62);
    background-color: rgb(155, 62, 62);
    margin-left: 500px;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-right: 500px;
    transition: 0.4s;
    display: flex;
    justify-content: center;
}
.this{
    border: 1px solid rgb(36, 36, 140);
    width: 300px;
    height: 600px;
    background-color: rgb(36, 36, 140);
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 300px;
    transition: 0.4s;
}
.texstik{
    border: 1px solid rgb(168, 168, 115);
    width: 200px;
    height: 300px;
    background-color: rgb(168, 168, 115);
    margin-left: 47px;
    margin-right: 47px;
    margin-top: 100px;
    transition: 0.4s;
    display: flex;
    justify-content: center;
}
.krd:hover{
    background-color: brown;
    border-radius: 10%;
}
.this:hover{
    background-color: blue;
    border-radius: 10%;
}
.texstik:hover{
    background-color: bisque;
    border-radius: 10%;
    color: blue;
}

@media (max-width:700px) {
    .krd{
        width: 100px;
        height: 400px;
        border: 1px solid rrgb(155, 62, 62);
        background-color: rgb(155, 62, 62);
        margin-left: 100px;
        margin-top: 50px;
        margin-bottom: 500px;
        margin-right: 100px;
        transition: 0.4s;
        display: flex;
        justify-content: center;
    }
    .this{
        border: 1px solid rgb(36, 36, 140);
        width: 90px;
        height: 200px;
        background-color: rgb(36, 36, 140);
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 80px;
        transition: 0.4s;
    }
    .texstik{
        border: 1px solid rgb(168, 168, 115);
        width: 30px;
        height: 100px;
        background-color: rgb(168, 168, 115);
        transition: 0.4s;
        display: flex;
        justify-content: center;
    }
}